@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Rubik:wght@600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  
  /* font-family: 'Rubik', sans-serif;
    weight 700
  */
   
}
.lightTheme {
  background-image: url("../ProjectFiles/todo-app-main/images/bg-desktop-light.jpg")
  ; background-repeat: no-repeat;
  background-size: 100% 30%;
  background-color: hsl(0, 0%, 98%);
  color: hsl(235, 19%, 35%);

  .taskMaker {
    background-color: white;
  }
}
.darkTheme {
  background-image: url("../ProjectFiles/todo-app-main/images/bg-desktop-dark.jpg")
  ; background-repeat: no-repeat;
  background-size: 100% 30%;
  background-color: hsl(235, 21%, 11%);
  color: hsl(234, 39%, 85%);

  .taskMaker {
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px
  }
  .taskInput {
    color: hsl(234, 39%, 85%);
  }
  .task {
    background-color: hsl(235, 24%, 19%);
    
    border-bottom: 1px solid hsl(236, 33%, 92%);
  }
  
}

/* 
Main container 
*/
.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  
  align-items: center;
  gap: 3rem;
}

.containerItem {
  width: 100%;
}
/* 

Header

*/
.header{
  display: flex;
  justify-content: space-between;
}
h1 {
  color: hsl(0, 0%, 98%);;
}
.themeChanger {
  border-style: none;
  background: none;
  object-fit: contain;
}


.taskBtn{
 
  background-color: transparent;
  border-style: none;
  border: 1px solid hsl(234, 11%, 52%);
  color: transparent;
  height: 3rem;
  width: 3rem;
  border-radius: 60%;
}
form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 5%;
  
}
label{
  width:100%}
.taskInput {
  
  background-color: transparent;
  border-style: none;
  height: 3rem;
  width: 80%;
 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}


.task {
  display: flex;
  padding: 1rem;
}
/* style={{width: '50px', // Adjust the width and height as needed
  height: '50px',
  borderRadius: '50%', 
  border: '1px solid black', 
  backgroundColor: "white",color:'transparent'}} */


/* ## Colors

### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%)

## Typography

### Body Copy

- Font size: 18px */

































/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */